* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    overflow: scroll;
    box-sizing: border-box;
}

/* Solo afecta los párrafos dentro de .container */
p {
    font-size: 1.2rem;
    text-align: center;
    color: #333;
    font-weight: bold;
}

/* Contenedor General */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Header */
.header {
    background-color: #333;
    color: #fff;
    padding: 15px;
}

.header .logo {
    display: flex;
    align-items: center;
    font-size: 3rem;
    /* Tamaño de la fuente del nombre del logo */
}

/* Ajustes para la imagen del logo */
.header img {
    height: 150px;
    /* Ajusta el tamaño del logo */
    margin-right: 15px;
}

.header h1 {
    font-size: 1.8rem;
    text-shadow: 3px 3px 5px white;
    margin: 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

/* Menú principal */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.nav-links a:hover {
    color: #e67e22;
}

/* Main Section */
main {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}
<<<<<<< HEAD
.row {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center; 
=======
.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
>>>>>>> c247bd7f1accd1b989b4f17ed9b59c8f712482cf
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #444;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
    background-color: #0099cc;
}

<<<<<<< HEAD
.container h1 {
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
}

.container p {
    text-align: center;
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
}

=======
>>>>>>> c247bd7f1accd1b989b4f17ed9b59c8f712482cf
.aside {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

<<<<<<< HEAD
=======
@media only screen and (min-width: 600px) {
  /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

>>>>>>> c247bd7f1accd1b989b4f17ed9b59c8f712482cf
/* Footer */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

.footer a {
    color: #1e90ff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer p {
    color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header img {
        height: 50px;
        margin: 5px 0;
    }

    .header h1 {
        font-size: 1.5rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 0;
        align-items: center;
    }

    .nav-links a {
        font-size: 1.2rem; /* Aumento el tamaño de los enlaces en móviles */
    }

    .nav-links li {
        transform: translateX(-100%);
        transition: transform 0.5s ease-in-out;
        opacity: 0;
    }

    .nav-links:hover li {
        transform: translateX(0);
        opacity: 1;
    }

    .nav-links li:nth-child(1) {
        transition-delay: 0.1s;
    }

    .nav-links li:nth-child(2) {
        transition-delay: 0.2s;
    }

    .nav-links li:nth-child(3) {
        transition-delay: 0.3s;
    }

    .nav-links li:nth-child(4) {
        transition-delay: 0.4s;
    }

    .nav-links li:nth-child(5) {
        transition-delay: 0.5s;
    }

    .nav-links li:nth-child(6) {
        transition-delay: 0.6s;
    }

}
<<<<<<< HEAD
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
=======
>>>>>>> c247bd7f1accd1b989b4f17ed9b59c8f712482cf
