/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

/* Header */
.header {
    background-color: #333;
    color: #fff;
    padding: 15px;
}

.header .logo {
    display: flex;
    align-items: center;
    font-size: 3rem;
    /* Tamaño de la fuente del nombre del logo */
}

/* Ajustes para la imagen del logo */
.header img {
    height: 150px;
    /* Ajusta el tamaño del logo */
    margin-right: 15px;
}

.header h1 {
    font-size: 1.8rem;
    text-shadow: 5px 5px 10px white;
    margin: 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    max-width: 960px;
}

/* Menú principal */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.nav-links a:hover {
    color: #e67e22;
}

/* Main */
main {
    padding: 2rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%; /* Asegura que el contenedor se ajuste automáticamente */
}

h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: #2c3e50;
}

/* Tabla de selección de tarjetas */
.tabla-tarjetas {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabla-tarjetas th, .tabla-tarjetas td {
    padding: 15px;
    border: 1px solid #ddd; /* Color de borde */
    text-align: center;
}

.tabla-tarjetas th {
    background-color: #333;
    color: white;
    font-size: 1.1rem;
}

.tabla-tarjetas td {
    font-size: 1rem;
    background-color: #ecf0f1;
}

.tabla-tarjetas td input[type="radio"] {
    margin: 0;
    transform: scale(1.3); /* Aumenta el tamaño del radio */
}

/* Estilo para las imágenes de las tarjetas */
.tarjeta-img {
    width: 75px;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
}

/* Botón continuar */
.btn.continuar {
    padding: 10px 20px;
    border: none;
    color: white;
    background-color: #dc3545;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
}

/* Hover para el botón */
.btn.continuar:hover {
    background-color: #e67e22;
}

/* Footer */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

.footer a {
    color: #1e90ff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer p {
    color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
    .header {
        display: flex;
        justify-content: center !important;
        align-items: center; 
        width: 100%;
    }

    .header img {
        margin: 5px;
        max-width: 100%;    
        height: 75px;
    }

    .header h1 {
        font-size: 1.5rem !important; /* Ajuste sugerido: tamaño más legible */
        text-align: center; /* Opcional: centra el texto si es necesario */
        margin: 0; /* Asegura que no haya margen extra */
    }
    

    .nav-links {
        flex-direction: column;
        gap: 0;
        align-items: center;
    }

    .nav-links li {
        transform: translateX(-100%);
        transition: transform 0.5s ease-in-out;
        opacity: 0;
    }

    .nav-links:hover li {
        transform: translateX(0);
        opacity: 1;
    }

    .nav-links li:nth-child(1) {
        transition-delay: 0.1s;
    }

    .nav-links li:nth-child(2) {
        transition-delay: 0.2s;
    }

    .nav-links li:nth-child(3) {
        transition-delay: 0.3s;
    }

    .nav-links li:nth-child(4) {
        transition-delay: 0.4s;
    }

    .nav-links li:nth-child(5) {
        transition-delay: 0.5s;
    }

    .nav-links li:nth-child(6) {
        transition-delay: 0.6s;
    }



    /* Ajustes para la tabla */
    .tabla-tarjetas th, .tabla-tarjetas td {
        font-size: 0.9rem;
        padding: 10px;
    }

    .tarjeta-img {
        width: 40px; /* Ajusta el tamaño de las imágenes */
    }

    /* Ajuste para el botón */
    .btn.continuar {
        width: 100%; /* Asegura que el botón ocupe el 100% del ancho disponible */
        font-size: 1rem; /* Reducir tamaño de la fuente */
        padding: 10px 20px;
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 1rem;
        }

    /* Ajustes para los márgenes en el footer */
    .footer .container {
        padding: 1rem 15px;
    }
}
