/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f9f9f9;
    color: #222;
    line-height: 1.6;
}

/* Header */
.header {
    background-color: #222;
    color: #fff;
    padding: 15px;
}
.header .logo {
    display: flex;
    align-items: center;
    font-size: 4rem; /* Tamaño de la fuente del nombre del logo */
}

/* Ajustes para la imagen del logo */
.header img {
    height: 150px; /* Ajusta el tamaño del logo */
    margin-right: 15px;
}
.header h1{
        text-shadow: 5px 5px 10px  white;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.nav-links a:hover {
    color: #e67e22;
}

/* Main */
main {
    padding: 2rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: #2c3e50;
}

/* Tabla de selección de tarjetas */
.tabla-tarjetas {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabla-tarjetas th, .tabla-tarjetas td {
    padding: 15px;
    border: 1px solid #ddd; /* Color de borde */
}

.tabla-tarjetas th {
    background-color: #333;
    color: white;
    font-size: 1.1rem;
}

.tabla-tarjetas td {
    font-size: 1rem;
    background-color: #ecf0f1;
}

.tabla-tarjetas td input[type="radio"] {
    margin: 0;
    transform: scale(1.3); /* Aumenta el tamaño del radio */
}

/* Estilo para las imágenes de las tarjetas */
.tarjeta-img {
    width: 50px;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
}


/* Botón continuar */
.btn.continuar {
    padding: 10px 20px;
    border: none;
    color: white;
    background-color: #dc3545;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
    align-self: flex-start;
}

/* Hover para el botón */
.btn.continuar:hover {
    background-color: #e67e22;
}

/* Footer */
.footer {
    color: white;
    background-color: #222;
    padding: 1rem 0;
    text-align: center;
}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Hacer responsive */
@media (max-width: 768px) {
    .tabla-tarjetas th, .tabla-tarjetas td {
        font-size: 0.9rem;
    }

    .tarjeta-img {
        width: 40px;
    }

    .btn {
        width: 100%;
        margin-top: 1rem;
    }
}
